@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for a more modern feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #38bdf8;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7dd3fc;
}

body {
  background-color: #0f172a;
  color: #94a3b8;
}

body.custom-cursor {
   cursor: none;
}
